@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
  position: relative;
  background-color: rgb(230, 214, 214);
  height: 100vh;
  margin: 0;
  overflow: hidden;
  
  
}

/* body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/public/images/Group 101.png'); 
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.2; 
  z-index: -1; 
} 
/* General styling */
.app-container {
    font-family: "Playfair Display", serif;
    background: url('/public/images/mush.jpg') ;
    width: 100vw;
    height: 100vh; 
    opacity: 0.8;
    background-repeat: no-repeat;
    
  }


  /* .mush-image {
    width: 100vw;
    height: 100vh; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    display: block; 
    opacity: 0.7;
  }
   */

  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 0px;
    padding-top: 20px;
    font-size: 42px;
    font-weight: 800;
    color: #250c0c;
    background-color: #ffffff;
    max-width: 600px;
  }
  
  .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .dropdown{
    color: black;
    padding: 8px;
    border-radius: 10px;
  }

  

  .search-btn:hover{
    background-color: #00a2ff;
  }
 
  
  /* Table styling */
  .table {
    width: 50%;
    margin: 0 auto;
    border-collapse: collapse;
    text-align: left;
  }
  
  .table th,
  .table td {
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .table th {
    background-color: #09296e;
    font-weight: bold;
    color: #ffffff;
  }
  
  .table td {
    background-color: #fff;
  }
  